.parent{
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

.arrowContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.arrowContainer > button{
    background-color: var(--highlight);
    border: none;
    color: white;
    border-radius: 6px;
    width: 96px;
}

.arrowContainer > button:hover{
    background-color: rgb(202, 121, 0);
}

.radioContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.imgContainer{
    width: 512px;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainerFullScreen{
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 34);
}

.img{
    max-width: 100%;
    max-height: 100%;
    border: 1px solid lightgray;
}

.img:hover{
    cursor: zoom-in;
    filter: brightness(95%)
}

.imgFullScreen{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 8px 8px 3px rgb(22, 18, 14);
}

.sideButton{
    position: absolute;
    background: none;
    border: none;
    color: white;
    width: 20vw;
    height: 100%;
    min-width: 100px;
}

.sideButtonLeft{
    left: 0px;
}

.sideButtonRight{
    right: 0px;
    bottom: 0px;
}

.sideButton > *{
    font-size: 50px;
    padding: 5px 20px 5px 20px;
    background-color: var(--highlight);
    border-radius: 20px;
}

.sideButton:hover{
    background-color: rgba(0, 0, 0, .4)
}

.sideButton:hover > *{
    background-color: rgb(219, 132, 0);;
}

.xButton{
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    color: white;
    padding: 30px;
    width: 17vw;

    display: flex;
    justify-content: center;
}

.xButton > * {
    font-size: 50px;
}

.xButton:hover{
    background-color: rgba(0, 0, 0, .5)
}

.description{
    text-align: center;
    font-family: 'Karla';
}

@media(width < 1380px){
    .imgContainer{
        width: 400px;
        height: 400px;
    }
}

@media(width < 1024px){
    .imgContainer{
        width: 80vw;
        height: 80vw;
    }
}

@media(width < 450px){
    .sideButton:hover{
        background-color: rgba(0, 0, 0, 0);
    }

    .sideButton > *{
        font-size: 20px;
        padding: 3px 10px 3px 10px;
        background-color: var(--highlight);
        border-radius: 20px;
    }
}

@media(width < 360px){
    .description{
        font-size: 18px;
    }
}