.topLine{
    border: 1px solid var(--highlight);
    width: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.leftLine{
    border: 1px solid var(--highlight);
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.bottomLine{
    border: 1px solid var(--highlight);
    width: 150px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.rightLine{
    border: 1px solid var(--highlight);
    height: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.simpleLine{
    border: 1px solid var(--highlight);
    position: absolute;
    width: 80vw;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    
    display: none;
}

.rightLine, .bottomLine, .leftLine, .topLine, .simpleLine{
    box-shadow: 4px 4px 6px black;
}

@media(width < 630px){
    .rightLine, .bottomLine, .leftLine, .topLine{
        display: none;
    }

    .simpleLine{
        display: block;
    }
}