.parent{
    display: flex;
    gap: 60px;
    padding: 60px;
    max-width: 1000px;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    box-shadow: 10px 10px 3px #272727;
    border: 2px solid var(--highlight);
    height: 358px;
}

.imageContainer :nth-child(1){
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.imageContainer :nth-child(2){
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.aboutMe > p{
    font-size: 18px;
}