.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--highlight);
}

.parent{
    background-color: white;
    padding: 60px;
    max-width: 550px;
    margin: 16px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form > div{
    display: flex;
    flex-direction: column;
}

.form > button{
    margin-top: 10px;
}

.form > div > input, .form > div > textarea{
    font-size: 20px;
}

.form > div > input:focus, .form > div > textarea:focus{
    outline: none;
    border: 2px solid var(--highlight);
}

.submit{
    color: white;
    background-color: var(--highlight);
    border: none;
}

.submit:hover{
    cursor: pointer;
    background-color: rgb(189, 113, 0);
}

.p{
    font-size: 1rem;
}

.p > *{
    font-size: 1rem;
}

@media(width < 600px){
    .parent{
        padding: 16px;
    }

    .h1{
        font-size: 32px;
    }
}

@media(width < 360px){
    .h1{
        font-size: 24px;
    }

    .form > div > input, .form > div > textarea{
        font-size: 16px;
    }

    .form > div > label{
        font-size: 18px;
    }

    .p{
        font-size: 16px;
    }

    .p > a{
        font-size: 16px;
    }

}