.parent{
    padding: 60px;
    max-width: 550px;
    width: 74vw;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.form > div{
    display: flex;
    flex-direction: column;
}

.form > button{
    margin-top: 10px;
}

.form > div > input, .form > div > textarea{
    font-size: 20px;
    box-shadow: 6px 6px 3px rgb(20, 20, 20);
}

.form > div > input:focus, .form > div > textarea:focus{
    outline: none;
    border: 2px solid var(--highlight);
}

.submit{
    box-shadow: 6px 6px 3px rgb(24, 24, 24);

    color: white;
    background-color: var(--highlight);
}

.submit:hover{
    cursor: pointer;
    background-color: rgb(189, 113, 0);
}

@media(width < 600px){
    .parent{
        width: 90vw;
        padding: 0px;
    }
}