.wrapper{
    background-color: rgba(240,220,78,255);
    width: 100%;
    display: flex;
    justify-content: center;
}

.parent{
    display: flex;
    gap: 64px;
    padding: 64px;
    background-color: rgb(255, 255, 255);
}

.stackContainer{
   display: flex;
   flex-direction: column; 
   gap: 50px;
}

.stackContainer > div{
    display: flex;
    gap: 32px;
    align-items: center;
}

.img{
    height: 70px;
    width: 70px;
}

.nameDesc :nth-child(1){
    font-size: 1.953rem;
    white-space: nowrap;
    margin-bottom: 8px;
}

.nameDesc :nth-child(2){
    font-size: 1.25rem;
    white-space: nowrap;
    font-family: 'Karla';
}

.h2{
    margin-top: 0px;
    font-size: 2.441rem;
    white-space: nowrap;
}


@media(width < 1070px){
    .parent{
        gap: 20px;
        padding: 50px;
    }

    .h2{
        font-size: 25px;
        text-align: center;
    }

    .nameDesc div:nth-child(1){
        font-size: 20px;
    }

    .nameDesc div:nth-child(2){
        font-size: 15px;
    }

    .img{
        height: 45px;
        width: 45px;
    }

    .stackContainer > div{
        gap: 15px;
    }
}

@media(width < 770px){
    .parent{
        flex-direction: column;
    }
}

@media(width < 400px){
    .parent{
        padding: 32px 8px 32px 8px;
        width: 100%;
    }

    .h2{
        font-size: 1.25rem;
    }

    .nameDesc div:nth-child(1){
        font-size: 17px;
    }

    .nameDesc div:nth-child(2){
        font-size: 12px;
    }

}

@media(width < 320px){
    .h2{
        font-size: 1rem;
        margin: 16px 0px 32px 0px;
    }
}