:root{
  --highlight: rgb(255, 153, 0);
  --dark: rgb(41, 41, 41);
}

html * {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x:hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: white; */
  /* background-color: rgb(61, 61, 61); */
  color: black;
  background-color: rgb(251, 251, 251);
}

.App {
  display: flex;
  flex-direction: column;
}

.PageContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 256px;

  padding-bottom: 400px;
  margin-top: 100px;
}

.PageContainer > * {
  position: relative;
}

/* global styles */

h1{
  margin-top: 0px;
  font-size: 2.441rem;
  white-space: nowrap;
}

@media(width < 360px){
  h1{
    font-size: 1.953rem;
  }
}

span{
  color: var(--highlight)
}

.boxShadow{
  box-shadow: 4px 4px 2px rgb(54, 54, 54);
}

.translateY{
  transform: translateY(128px);
}

@media(width < 410px){
  .translateY{
    transform: translateY(64px);
  }
}