.parent{
    padding: 5px 0px 5px 0px;
    display: flex;
    gap: 30px;
    justify-content: center;
    color: white;
    background-color: var(--dark);

    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.button{
    background: none;
    border: none;
    color: white;
    font-weight: 700;
}

.button:hover{
    color: var(--highlight);
}

.icon{
    padding: 10px;
    color: white;
    font-size: 34px;
}

.icon:hover{
    color: var(--highlight);
}

@media(width < 770px){
    .parent button:nth-child(n+2){
        display: none;
    }
}

